.card{
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
}
.mat-sort-header-container {
    align-items: center;
  }

  .tabelka{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
    width: 800px;
  }

  h3{
    text-align: center;
    padding-bottom: 20px;
  }

  .dol{
    text-align: center;
    padding: 10px;
  }

  @import "~@angular/material/prebuilt-themes/indigo-pink.css"; 