  h3{
    text-align: center;
    padding-bottom: 20px;
  }

  .dol{
    text-align: center;
    padding: 10px;
  }

  @import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

  .data-table {
    width: 40%;
    margin: 20px auto;
  }

