.wykres{
    width: 1000px;
    position: relative;
    left: 50%;
 transform: translate(-50%);
  }

  h3{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .pierwsza{
      text-align: center;
    position: relative;
    left: 50%;
 transform: translate(-50%);
  }

  .grzyb{
      border-radius: 20px;
      width: 450px;
      height: 300px;
  }