<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="pierwsza">
  <h3>O czym?</h3>
  <img class="grzyb" src="assets/img/grzyb.jpg"><br>
  <br>
  To strona, na której znajdziesz informacje o grzybach występujących w Polsce<br>
  Możesz też zapisywać zebrane przez Ciebie grzyby

<hr>
  <h3>Porównanie wielkości kapeluszy grzybów:</h3>

  <div class="wykres" style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>
</div>