h1{
    text-align: center;
    padding: 20px;
    background-image: url("src/mech.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: darkslategray;
    color: white;
}

.stopka{
    padding-top: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, darkslategray 0%, white 100%)
}
