h2{
    text-align: center;
    padding: 20px;
    background-image: url("src/mech.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: darkslategray;
    color: white;
}

.opisStrony{
    padding: 30px;
    color: white;
    background-color: darkslategray;
}

