<head>
  <script src="https://kit.fontawesome.com/a7c017e8a1.js" crossorigin="anonymous"></script>
</head>
<h1>Grzyby</h1>


<ul class="nav justify-content-center nav-pills">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['main']">Home <i class="fas fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['strona-pierwsza']">Moje grzyby <i class="fas fa-shopping-basket"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['strona-druga']">druga</a>
  </li>
</ul>

<router-outlet></router-outlet>


<div class="stopka">
  Created by: Daniel Ch.<br>
  v1.2020
</div>

