<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='mojegrzyby'>Moje grzyby</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dodaj grzyb</li>
  </ol>
</nav>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3>Dodaj zebrane grzyby</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Nazwa</label>
              <input type="text" formControlName="nazwa" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nazwa.errors }" />
              <div *ngIf="submitted && f.nazwa.errors" class="invalid-feedback">
                <div *ngIf="f.nazwa.errors.required">Nazwa nie może być pusta</div>
              </div>
            </div>
            <div class="form-group">
              <label>Ilość</label>
              <input type="text" formControlName="ilosc" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.ilosc.errors }" />
              <div *ngIf="submitted && f.ilosc.errors" class="invalid-feedback">
                <div *ngIf="f.ilosc.errors.required">Ilość nie może byc pusta</div>
                <div *ngIf="registerForm.controls['ilosc'].hasError('min')">Minimum 1 grzyb</div>
              </div>
            </div>
            <div class="form-group">
              <a class="btn btn-primary" href="mojegrzyby" role="button">Cofnij</a>
              <button class="btn btn-primary" (click)="addMysl(); openModal('custom-modal-1')">Dodaj</button>
            </div>
          </form>
        </div>
      </div>
    </div><div class="ostatniododany">Ostatnio dodany:<br> {{dodane}}</div>
  </div>
    
  <jw-modal id="custom-modal-1">
    <h2>Dodano grzyb:</h2>
    <p>{{dodane}}</p>
    <button class="btn btn-primary" (click)="closeModal('custom-modal-1');">Zamknij</button>
  </jw-modal>
  
